@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Amiri", serif !important;
  font-style: normal !important;
}
.Dropdown_Navv {
  font-size: 26px !important;
  font-weight: bold;
  letter-spacing: 0%;
}
.Dropdown_linkk {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Inter;
  text-align: start;
  font-weight: 400;
  font-size: 26px !important;
  letter-spacing: 0%;
  font-weight: bold;
}
.Dropdown_linkk {
  font-size: 20px !important;
  padding-right: 5px;
}
.FaCaretDown {
  top: -34px;
  right: -190px;
}
button {
  width: fit-content;
}
.www {
  background-color: red;
  width: 100px;
}
.input {
  width: 25%;
}
.Suppliers {
  background: linear-gradient(#6190afd8, #8c8e8f21);
  width: 100%;
  height: 100vh;
}
.Sidebar {
  font-size: 23px;
  overflow: auto;
  width: fit-content;
  position: sticky;
}
.Sidebar a{
  text-decoration: none;
}
.Sidebar img {
  width: 30px;
  height: 30px;
}
.Sidebar_content{
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.Sidebar .div1 {
  animation: backInRight 1.5s;
}
.Sidebar .div2 {
  animation: backInRight 2s;
}
.Sidebar .div3 {
  animation: backInRight 2.5s;
}
.Sidebar .div4 {
  animation: backInRight 3s;
}
.Sidebar .div5 {
  animation: backInRight 3.5s;
}
.Sidebar .div6 {
  animation: backInRight 4s;
}
.Sidebar .div7 {
  animation: backInRight 4.5s;
}
.scroll-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
input::placeholder {
  font-size: 18px;
  font-weight: bold;
}
th {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-align: center;
}
.p_link {
  display: none;
  width: fit-content;
  text-decoration: none;
  color: black;
  text-align: start;
  font-weight: 600;
  font-size: 30px;
  line-height: 15.73px;
}

.Sidebar:hover .p_link {
  width: fit-content;
  color: black;
  display: block;
  animation: backInRight;
  animation-duration: 1.1s;
}
.scroll-button:hover {
  opacity: 1;
}

.table-responsive {
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 40px;
}
.unlock {
  text-decoration: none;
}
.Footer {
  width: 100%;
  height: fit-content;
  padding: 50px 100px;
}
.Footer a {
  font-size: 20 px;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  .Footer p {
    font-size: 16px;
    font-weight: bolder;
  }
}
.Footer_div1 li:hover {
  animation: heartBeat 2s;
}
