@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

.Navvv_com {
  background-color: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  direction: ltr;
}
.navs {
  position: sticky;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  color: rgb(0, 0, 0);
}
.pp_pp {
  display: flex;
  justify-content: space-between;
}
.span_nav {
  padding: 0px 30px 0px 30px;
}
.Link_Nav {
  text-decoration: none;
  color: white;
  background: linear-gradient(#4b667d, #88b9e3);
  padding: 5px 10px;
  border-radius: 8px;
}
.Brand {
  line-height: 32px;
}
.Dropdown_Navv {
  font-size: 24px;
  font-weight: bold;
  font-family: Inter;
  line-height: 19.36px;
  letter-spacing: 0%;
}
.Dropdown_link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Inter;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 15.73px;
  letter-spacing: 0%;
  font-weight: bold;
}
.Dropdown_lin {
  color: black;
  text-decoration: none;
}
.Dropdown_Navvv {
  display: block;
  text-align: start;
}
