@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.Dropdown_Navv {
  font-size: 26px;
  font-weight: bold;
  font-family: Inter;
  line-height: 19.36px;
  letter-spacing: 0%;
}
.Dropdown_Navv:hover,
.Dropdown_link:hover {
  color: white;
}

.Dropdown_link,
.Dropdown_linkk {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  font-family: Inter;
  text-align: start;
  font-weight: 400;
  font-size: 26px;
  line-height: 15.73px;
  letter-spacing: 0%;
  font-weight: bold;
}
.Dropdown_linkk {
  font-size: 20px;
  padding-right: 5px;
}

.Dropdown_Navvv {
  display: block;
  text-align: start;
}
